
    	html {
  			 scroll-behavior: smooth; 
			}
    	header {
    		background-color: white;
    		border-bottom: 4px solid black;
    		height: 60px;
            width: 100vw;
            font-size: 50px;
            padding: 20px 0px 20px 30px;
    	}
        body {margin:0;}

        img{
            width: 100%;
        }

        section {
            height: 150vh;
            font-family: Arial Rounded MT Bold;
            width: 100vw;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: sticky;
            top: -1px;
        }
        section.last {height: 100vh;}
        section:nth-child(1) {
            background-color:white;
        }
        section:nth-child(2) {
            background-color:rgb(211, 133, 69);
        }
        section:nth-child(3) {
            background-color:rgb(131, 133, 57);
        }
        section:nth-child(4) {
            background-color:rgb(107, 84, 54);
        }
        section:nth-child(5) {
            background-color:rgb(134, 182, 204);
        }

        .floaty-nav {
        	position: fixed;
        	right: 20px;
        	top:50%;
            bottom:0;
            align-items: right;
            justify-content: center;
        }
        .floaty-nav a { 
        	border: 4px solid #333;
        	width: 50px;
        	height: 50px;
        	border-radius: 50%;
        	margin-bottom: 16px;
        	display: inline-block;
            text-decoration: none;

        }
        .floaty-nav a.intro{
            background-color: rgb(128, 144, 247);    
        }
        .floaty-nav a.one{
        	background-color: rgb(211, 133, 69);
        }
        .floaty-nav a.two{
        	background-color: rgb(131, 133, 57);
        }
        .floaty-nav a.three{
        	background-color: rgb(107, 84, 54);
        }
        .floaty-nav a.four{
        	background-color: rgb(134, 182, 204);
        }
        .floaty-nav a:hover {
        	background-color: white;
        }

        #pintro {
            color: white;
                font-family: Arial;
                font-size: 50px;
                padding: 50px;
                text-align: center;
                background-color: rgb(128, 144, 247);
                background-position-y: center;
                height: 200px;
                background-position: top;
                border-bottom: 4px solid black;
        }

        .grid-2 {
            display: flex;
          }
          .grid-2 article {
            padding: 60px;
          }
          .grid-2 .small {
            flex: 25%;
          }
          
          .grid-2 .large {
            flex: 75%;
            display: flex;
          }
          .grid-2 .large div {
            flex: 1;
          }
          .grid-2 .large .content {
            margin-left: -90px;
            margin-right: 50px;
          }

        .content {
            font-family: Arial;
            color: white;
            text-align: left;
          }

    
