* {
    box-sizing: border-box;
}
.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 40px;
    min-height: 40px;
    overflow: hidden;
    }

.body {
    cursor: url('james.ico'), default;
}

.track {
    position: absolute;
    white-space: nowrap;
    animation: marquee 5s linear .01s infinite;
    padding-bottom: 6px;
    }

.flex-wrap {
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.james-title {
    display: inline-block;
    white-space: nowrap;
}

.weather-temperature {
    display: inline-block;
    white-space: nowrap;
}

.date {
    display: inline-block;
    white-space: nowrap;
}

.image-flex {
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    height: 100vh;
    }


.flex-leftside {
    background: url(images/littleitalybw.JPG);
    width: 35%;
    min-height: 400px;
    background-size: cover !important;
    border-left: 4px solid;
    border-color: rgb(0, 0, 0);
    background-position: center center !important;
    }

.flex-rightside {
    background: url(images/cloudsbw.JPG);
    width: 65%;
    min-height: 400px;
    background-size: cover !important;
    background-position: center center !important;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: black;
    }

.nav-flex {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    }
.nav-flex a {
    color: black;
    text-decoration: none;
}
.nav-flex a:hover {
    text-decoration: underline;
}
.nav-row1, .nav-row2 {
    line-height: 50px;
    }

.nav-left{
    flex: 35%;
    background-color: white;
    align-items: left;
    width: 100%;
    padding: 15px;
    border: 3px solid;
    border-left: 4px solid;
    border-color: black;

}

.nav-right{
    flex: 65%;
    background-color: white;
    align-items: left;
    width: 100%;
    padding: 15px;
    border: 3px solid;
    border-right: 4px solid;
    border-color: black;
}

.locations-row {
display: flex;
}
  
.locations-column {
flex: 50%;
padding: 5px;
}


.marquee {
    position: relative;
    background-color: white;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee .content {
    width: fit-content;
    color: black;
    padding-top: 10px;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    font-family: Andale Mono V2;
    src: url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
    font-size: 15pt;
}

.marquee span {
    font-size: 10vw;
    padding: 0 2vw;
}

.marquee:hover .marquee .content {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

@font-face {
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
}

.nav-flex{
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
}

.menu-large, .menu-small, .menu-header {
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
}

.menu-large{
    font-size: 16pt;
}

.menu-small{
    font-size: 12pt;
}

.menu-grid{
    display:flex;
}

.menu-column {
    width: 50%;
    padding-top: 50px;
    padding-left: 20px;
}

.menu-header{
    padding: 7px; 
    padding-left: 10px;
    color: black;
    background-color: white;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
    font-weight: bold;
    font-size: 22pt; 
}

.locations-row{
    display: flex;
}

.locations-column{
    flex: 50%;
    padding: 50px;
    padding-top: 50px;
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
    text-align: center;
}

.locations-h2{
    font-size: 24pt;
    padding-top: 10px;
}

.locations-head{
    padding: 7px; 
    padding-left: 10px;
    color: black;
    background-color: white;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
    font-weight: bold;
    font-size: 22pt;  
}

.locations-head{
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
}

.about-head{
    padding: 7px; 
    padding-left: 10px;
    color: black;
    background-color: white;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
    font-weight: bold;
    font-size: 22pt;  
}

.about-head, .about-h2{
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
}

.about-h2{
    font-size: 26pt;
    padding-top: 30pt;
    padding-bottom: -30pt;
    padding-left: 10pt;
}

.about-row {
    display: flex;
}

.about-column {
    flex: 50%;
    padding: 20px;
    padding-top: 50px;
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
    text-align: left;   
}
.about-column img {
    width: 100%;
}
.social-form{
    text-align: left;
    padding: 10pt;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.form-header{
    text-align: left;
    font-size: 18pt;
}

.form-content{
    text-align: left;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: auto;
  margin: auto;
  padding-top: 50pt;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:  black ;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.social-head{
    padding: 7px; 
    padding-left: 10px;
    color: black;
    background-color: white;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
    font-weight: bold;
    font-size: 22pt;  
}

.social-head, .social-h2, .social-form{
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
}


/* START of Mobile Menu */
.nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background:black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-size: 22pt;
    font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");    
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: rgb(105, 105, 105);
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
/* END OF Mobile Menu */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    /* START of desktop menu for 768 media query */
    .menu-desktop {
        width: 100%;
        display: block;
        padding: 0;
        line-height: 50px;
        justify-content: space-evenly;
        flex-direction: row;
        height: 0;
        text-align: right;
        padding-top: 6pt;
        padding-right: 6pt;
        position: absolute;
        top: 0;
        right: 0;
        font-family: Andale Mono V2;
    src: url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3156116d1667eea051f96b697f069624.svg#Andale Mono") format("svg");
    }

    .menu-desktop a {
        display: inline-flex;
        margin-right: 30px;
        height: 0;
        line-height: 50px;
        text-decoration: none;
        color: #333;
        justify-content: space-evenly;
    }
    .menu-desktop a:hover {
        color:gray;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
    }

    header.nav, .menu-mobile {
        display: none;
    }
    /* END of desktop menu for 768 media query */

}





@media screen and (max-width: 600px) {
    .menu-grid{
        flex-direction: column;
    }
    .nav-flex{
        flex-direction: column;
    }
    .locations-row {
        flex-direction: column;
    }
    .about-row{
        flex-direction: column;
    }
    .social-column{
            flex: 50%;
            max-width: 50%;
    }
}

